*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: #141314;
    position: relative;
}

.cubo{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moverCubo 2s linear, circleMove 5s 2s linear infinite;
}

@keyframes moverCubo {
    from {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    to{
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);
    }
}

@keyframes circleMove {
    0% {
        top: 50%;
        left: 100%;
        background-color: #FFA447;
        transform: translate(-100%, -50%);
    }

    20% {
        top: 0;
        left: 100%;
        background-color: #6C22A6;
        transform: translate(-100%, 0);
    }

    40% {
        top: 0;
        left: 0;
        background-color: #294B29;
        transform: translate(0, 0);
    }

    60% {
        top: 100%;
        left: 0;
        background-color: #FF004D;
        transform: translate(0, -100%);
    }

    80% {
        top: 100%;
        left: 100%;
        background-color: #5F8670;
        transform: translate(-100%, -100%);
    }

    100% {
        top: 50%;
        left: 100%;
        background-color: #750E21;
        transform: translate(-100%, -50%);
    }
    
}